<h1>Base</h1>

<div style="display: flex; flex-direction: row;">
  <nav>
    <%= for {"view", view} <- @bases do %>
      <span>Name</span>
      <%= for {name, fields} <- view do %>
        <%= for {field_name, %{"type" => type}} <- fields["dimension"] do %>
        <tr id={"base-#{name}"}>
          <div><%= field_name   %></div>
        </tr>
        <% end %>
      <% end %>
    <% end %>    
  </nav>

  <div>
    Plots go here
  </div>
</div>
